/* GENERALES */  

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


html{
    font-size: 62%;
    box-sizing: border-box;
}

*,*:before, *::after{
    box-sizing: border-box;
}

a{
text-decoration: none;
}

body{
    font-size: 16px;
   font-family: 'Roboto', sans-serif; 
   background-color: white;
}

.mg-top{
margin-top: 16rem;

}

.d-flex{
    display:flex;

}

.flex-column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}
.justify-center{
    justify-content: space-between;
}
.justify-center{
    justify-content: space-around;
}

.align-start{
    align-items: flex-start;
}
.align-center{
    align-items: center;
}
.align-end{
    align-items: flex-end;
}

.container{
max-width: 1180px;
width: 85%;
margin: 0 auto;
}

.dos-columnas{
    display: grid;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    
    
}

.tres-columnas{
    display: inline-block;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    grid-template-columns: repeat(3, 2fr);
    column-gap: 4rem;
    
    }

/* HEADER */

.header{
display: flex;
justify-content: space-between;
align-items: center;
margin: 1rem auto;
}

.header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    }

.logo{
    width: 66.6167px;
    height: 66.6167px;
    transition: all 300ms;
    cursor: pointer;

}

.logo:hover{
    transform: scale(1.1, 1.1);
}

.logo > img{
    max-width: 300%;
    max-height: 300%;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;

}

.nav {
    display:inline-flexbox;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    margin-left: 40px;
    text-decoration: none;
    background-color: transparent;

}

.nav > a {
    color: #00233B;
    margin-left: 0.5px;
    padding: 1rem;

}

.nav2{
    display:inline-flexbox;
    padding: 20px;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    margin-left: 40px;
    text-decoration: none;
    background-color: transparent;
}

.nav2 > a{
    color: black;
    margin-left: 0.5px;
    padding: 1rem;
}

/* SECTION */

.Ing-Soft{
    font-size: 4rem;
    line-height: 1.2;
    margin: 5rem 0 1rem 0;
    font-weight: bold;
}

.info-text{
    font-family: 'Roboto',sans-serif;
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #00233B;
    line-height: 1.5;
    margin-top: 1.5rem;
    width: 40rem;
}

.info-img{
    width: 25%;
    transition: opacity .4s ease;
    max-width: 25%;
    vertical-align: middle;
    border-style: none;
    
}

.info-img2{
   width: 25%;
   height: 25%;
    max-width: 10%;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
}

.columna1{
    background-color: #abb8c3;
    height: 73%;
}

.columna2{
    background-color: white;
    height: 73%;
    display:flex;
}

.Información{
    display: flex;
    font-size: 2rem;
    text-align: right;
    width: 100px;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 100px;
    margin-bottom: 400px;
    white-space: nowrap;
}

.contenido{
    width: 50%;
    text-align: left;
}

.btn-orange{
    min-width: 218px;
    padding: 18px 32px;
    border: 1px solid #f60;
    border-radius: 35px;
    background-color: #fff;
    background-size: cover;
    font-family: Roboto;
    font-size: 18px;
    line-height: 26px;
    color: #00233b;
    text-decoration: none solid rgb(0,35,59);
    letter-spacing: 1px;
    text-align: center;
    display: inline-block;
}

.group-btn-2{
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: #1779ba;
}

.group-btn-3{
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color: #f60;
    border: 1px solid #f60;
    padding: 5px 41px;
    border-radius: 18px;
    background: #fff;
    margin: 15rem;
}

.margen1{
    margin-bottom: 1rem;
}

.formulario{
    display:flexbox;
    width: 300px;
    padding: 15px;
    margin:0%;
    margin-top: 25px;
    border-radius: 2px;
    font-family: 'Roboto',sans-serif;
}

.controles{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px solid #f60;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
}

.formulario p {
    height: 15px;
    text-align: center;
    font-size: 16px;
}

.formulario a {
    color: black;
    text-decoration: none;
}

.formulario a:hover {
    color: black;
    text-decoration: underline;
}

.formulario .Enviar {
    width: 40%;
    border-radius: 1rem;
    padding: 10px 20px;
    margin: 40px 0;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    background-color: #f60;
    color: whitextte;
    box-sizing: border-box;
    border-width: 0;
}

.h1-1{
text-align: center;
font-size: 4rem;
font-family: 'Roboto',sans-serif;
padding-bottom: 1rem;
}

.cuadrado{
    width: 300px;
    height: 300px;
    background-color: #c7c5c5  ;
    margin-right: 75px;
    margin-bottom: 75px;
    border-radius: 10px; 
    display: inline-block;
    float: left;
}

.cuadrado2{
   width: 300px;
    height: 300px;
    background-color: #c7c5c5 ;
    margin-right: 75px;
    margin-bottom: 75px;
    border-radius: 10px; 
    float: left;

}

.cuadrado3{
    width: 300px;
    height: 300px;
    background-color: #c7c5c5  ;
    margin-right: 75px;
    margin-bottom: 75px;
    border-radius: 10px; 
    display: inline-block;
    float: left;
}

.h2-1{
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #00233b;
    font-weight: 400;
}

.h1-2{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 16px 0;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #00233b;
    font-weight: 400;
}

.p-2{
    margin: 0 0 8px 0;
    font-size: 12px;
    line-height: 18px;
    color: #00233b;
}

.p-3{
    color: #f60;
    font-size: 14px;
    text-decoration: underline;
    transition: all 0.3s ease;
    text-decoration: underline;
    
}

.Perfil{
    color: #f60;
    padding-bottom: 11px;
    position: relative;
    display: inline-block;
}

.footer{
    background-color: #24262B;
    padding: 80px 0;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    pedding: 0 15px;
}

.footer-links h4{
    font-size: 10px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 15px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all, 3s ease;

}
.footer-links ul li a:hover {
color: white;
pedding-left: 6px;
}

.social-links a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: grey;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;

}

.social-link a:hover{
    background-color: #00c3ff;
}

@media (max-width:991px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}